# Projeto previsão de pessoas com Diabetes
Importando os dataset como tabela no banco de dados Mysql, que está na Amazon RDS.

In [1]:
# importando pacotes
import pandas as pd
from sqlalchemy.engine import create_engine

In [46]:
# conexao com banco
user = 'stacklab'
pwd = 'stacklab'
host = 'db-stacklabs01.cw6sufr4jljr.us-east-1.rds.amazonaws.com'
base = 'diabetes'

In [68]:
# conexão com o banco de dados na AWS
engine = create_engine('mysql+pymysql://stacklabs:stacklabs@db-stacklabs01.cw6sufr4jljr.us-east-1.rds.amazonaws.com:3306/diabetes')

In [71]:
# teste conexao com banco
sql_teste = '''show tables;'''
pd.read_sql_query(sql_teste,engine)

                            Tables_in_diabetes
0               diabetes_012_health_indicators
1  diabetes_binary_5050split_health_indicators
2            diabetes_binary_health_indicators

## Aquisição dos Dados

In [8]:
# carregando arquivos CSV

# Dataset diabetes_012_health_indicators_BRFSS2015.csv
DATA_FILE_01 = 'https://raw.githubusercontent.com/villani31/diabetes/main/Datasets/diabetes_012_health_indicators_BRFSS2015.csv'
# Dataset diabetes_binary_5050split_health_indicators_BRFSS2015.csv
DATA_FILE_02 = 'https://raw.githubusercontent.com/villani31/diabetes/main/Datasets/diabetes_binary_5050split_health_indicators_BRFSS2015.csv'
# Dataset diabetes_binary_health_indicators_BRFSS2015.csv
DATA_FILE_03 = 'https://raw.githubusercontent.com/villani31/diabetes/main/Datasets/diabetes_binary_health_indicators_BRFSS2015.csv'

# importando dados para o pandas
df_01 = pd.read_csv(DATA_FILE_01)
df_02 = pd.read_csv(DATA_FILE_02)
df_03 = pd.read_csv(DATA_FILE_03)

In [13]:
# Dimensoes dos datasets
print('Dimensoes do Dataset DATA_FILE_01: \n',
     'Número de variáveis: ', df_01.shape[1], '\n',
     'Número de linhas: ', df_01.shape[0])
print('-------------------------------------------------------')

# lendo as primeiras linhas
df_01.head(2)

Dimensoes do Dataset DATA_FILE_01:
 Número de variáveis:  22
 Número de linhas:  253680
-------------------------------------------------------

,Diabetes_012,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
0,0.0,1.0,1.0,1.0,40.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,5.0,18.0,15.0,1.0,0.0,9.0,4.0,3.0
1,0.0,0.0,0.0,0.0,25.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,3.0,0.0,0.0,0.0,0.0,7.0,6.0,1.0

In [14]:
# Dimensoes dos datasets
print('Dimensoes do Dataset DATA_FILE_02: \n',
     'Número de variáveis: ', df_02.shape[1], '\n',
     'Número de linhas: ', df_02.shape[0])
print('-------------------------------------------------------')

# lendo as primeiras linhas
df_02.head(2)

Dimensoes do Dataset DATA_FILE_02:
 Número de variáveis:  22
 Número de linhas:  70692
-------------------------------------------------------

,Diabetes_binary,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
0,0.0,1.0,0.0,1.0,26.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,3.0,5.0,30.0,0.0,1.0,4.0,6.0,8.0
1,0.0,1.0,1.0,1.0,26.0,1.0,1.0,0.0,0.0,1.0,...,1.0,0.0,3.0,0.0,0.0,0.0,1.0,12.0,6.0,8.0

In [15]:
# Dimensoes dos datasets
print('Dimensoes do Dataset DATA_FILE_03: \n',
     'Número de variáveis: ', df_03.shape[1], '\n',
     'Número de linhas: ', df_03.shape[0])
print('-------------------------------------------------------')

# lendo as primeiras linhas
df_03.head(2)

Dimensoes do Dataset DATA_FILE_03:
 Número de variáveis:  22
 Número de linhas:  253680
-------------------------------------------------------

,Diabetes_binary,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
0,0.0,1.0,1.0,1.0,40.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,5.0,18.0,15.0,1.0,0.0,9.0,4.0,3.0
1,0.0,0.0,0.0,0.0,25.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,3.0,0.0,0.0,0.0,0.0,7.0,6.0,1.0

## Importar Dataset para tabela no Mysql Server que está na Cloud da AWS

In [58]:
# importar dataset a partir do CSV para tabela no banco
import csv
from sqlalchemy import create_engine, types

# Dataset df_01 - diabetes_012_health_indicators_BRFSS2015

# linha comentada para nao sobscrever dados caso seja executado 
## df_01.to_sql('diabetes_012_health_indicators',con=engine,index=False,if_exists='append')
# Recriado mantendo o index, para manter como o dataset atual
## df_01.to_sql('diabetes_012_health_indicators',con=engine,index=True,if_exists='replace')

# Dataset df_02 - diabetes_binary_5050split_health_indicators_BRFSS2015

# linha comentada para nao sobscrever dados caso seja executado 
## df_02.to_sql('diabetes_binary_5050split_health_indicators',con=engine,index=False,if_exists='append')
# Recriado mantendo o index, para manter como o dataset atual
## df_02.to_sql('diabetes_binary_5050split_health_indicators',con=engine,index=True,if_exists='replace')

# Dataset df_03 - diabetes_binary_health_indicators_BRFSS2015

# linha comentada para nao sobscrever dados caso seja executado 
## df_03.to_sql('diabetes_binary_health_indicators',con=engine,index=False,if_exists='append')
# Recriado mantendo o index, para manter como o dataset atual
## df_03.to_sql('diabetes_binary_health_indicators',con=engine,index=True,if_exists='replace')

Dataset **diabetes_012_health_indicators_BRFSS2015**, criado tabela `diabetes_012_health_indicators`

In [25]:
# verificar tipos de variavel do primeiro dataset
df_01.dtypes

Diabetes_012            float64
HighBP                  float64
HighChol                float64
CholCheck               float64
BMI                     float64
Smoker                  float64
Stroke                  float64
HeartDiseaseorAttack    float64
PhysActivity            float64
Fruits                  float64
Veggies                 float64
HvyAlcoholConsump       float64
AnyHealthcare           float64
NoDocbcCost             float64
GenHlth                 float64
MentHlth                float64
PhysHlth                float64
DiffWalk                float64
Sex                     float64
Age                     float64
Education               float64
Income                  float64
dtype: object

In [38]:
# validar dados pupulado na tabela
sql_01 = '''select * from diabetes_012_health_indicators limit 5;'''
pd.read_sql_query(sql_01,engine)

,index,Diabetes_012,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
0,0,0.0,1.0,1.0,1.0,40.0,1.0,0.0,0.0,0.0,...,1.0,0.0,5.0,18.0,15.0,1.0,0.0,9.0,4.0,3.0
1,1,0.0,0.0,0.0,0.0,25.0,1.0,0.0,0.0,1.0,...,0.0,1.0,3.0,0.0,0.0,0.0,0.0,7.0,6.0,1.0
2,2,0.0,1.0,1.0,1.0,28.0,0.0,0.0,0.0,0.0,...,1.0,1.0,5.0,30.0,30.0,1.0,0.0,9.0,4.0,8.0
3,3,0.0,1.0,0.0,1.0,27.0,0.0,0.0,0.0,1.0,...,1.0,0.0,2.0,0.0,0.0,0.0,0.0,11.0,3.0,6.0
4,4,0.0,1.0,1.0,1.0,24.0,0.0,0.0,0.0,1.0,...,1.0,0.0,2.0,3.0,0.0,0.0,0.0,11.0,5.0,4.0

In [53]:
# comparar numero de linhas tabela no banco
sql_02 = '''select count(8) from diabetes_012_health_indicators; '''
pd.read_sql_query(sql_02,engine)

   count(8)
0    253680

In [42]:
# comparar numero de linhas dataset
df_01.shape[0]

253680

Dataset **diabetes_binary_5050split_health_indicators_BRFSS2015**, criado tabela `diabetes_binary_5050split_health_indicators`

In [43]:
# verificar tipo de variavel do segunda dataset
df_02.dtypes

Diabetes_binary         float64
HighBP                  float64
HighChol                float64
CholCheck               float64
BMI                     float64
Smoker                  float64
Stroke                  float64
HeartDiseaseorAttack    float64
PhysActivity            float64
Fruits                  float64
Veggies                 float64
HvyAlcoholConsump       float64
AnyHealthcare           float64
NoDocbcCost             float64
GenHlth                 float64
MentHlth                float64
PhysHlth                float64
DiffWalk                float64
Sex                     float64
Age                     float64
Education               float64
Income                  float64
dtype: object

In [52]:
# validar dados pupulado na tabela
sql_03 = '''select * from diabetes_binary_5050split_health_indicators limit 5;'''
pd.read_sql_query(sql_03,engine)

,index,Diabetes_binary,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
0,0,0.0,1.0,0.0,1.0,26.0,0.0,0.0,0.0,1.0,...,1.0,0.0,3.0,5.0,30.0,0.0,1.0,4.0,6.0,8.0
1,1,0.0,1.0,1.0,1.0,26.0,1.0,1.0,0.0,0.0,...,1.0,0.0,3.0,0.0,0.0,0.0,1.0,12.0,6.0,8.0
2,2,0.0,0.0,0.0,1.0,26.0,0.0,0.0,0.0,1.0,...,1.0,0.0,1.0,0.0,10.0,0.0,1.0,13.0,6.0,8.0
3,3,0.0,1.0,1.0,1.0,28.0,1.0,0.0,0.0,1.0,...,1.0,0.0,3.0,0.0,3.0,0.0,1.0,11.0,6.0,8.0
4,4,0.0,0.0,0.0,1.0,29.0,1.0,0.0,0.0,1.0,...,1.0,0.0,2.0,0.0,0.0,0.0,0.0,8.0,5.0,8.0

In [54]:
# comparar numero de linhas tabela no banco
sql_04 = '''select count(8) from diabetes_binary_5050split_health_indicators; '''
pd.read_sql_query(sql_04,engine)

   count(8)
0     70692

In [55]:
# comparar numero de linhas dataset
df_02.shape[0]

70692

Dataset **diabetes_binary_health_indicators_BRFSS2015**, criado tabela `diabetes_binary_health_indicators`

In [56]:
# verificar tipo de variavel do terceiro dataset
df_03.dtypes

Diabetes_binary         float64
HighBP                  float64
HighChol                float64
CholCheck               float64
BMI                     float64
Smoker                  float64
Stroke                  float64
HeartDiseaseorAttack    float64
PhysActivity            float64
Fruits                  float64
Veggies                 float64
HvyAlcoholConsump       float64
AnyHealthcare           float64
NoDocbcCost             float64
GenHlth                 float64
MentHlth                float64
PhysHlth                float64
DiffWalk                float64
Sex                     float64
Age                     float64
Education               float64
Income                  float64
dtype: object

In [59]:
# validar dados pupulado na tabela
sql_05 = '''select * from diabetes_binary_health_indicators limit 5;'''
pd.read_sql_query(sql_05,engine)

,index,Diabetes_binary,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
0,0,0.0,1.0,1.0,1.0,40.0,1.0,0.0,0.0,0.0,...,1.0,0.0,5.0,18.0,15.0,1.0,0.0,9.0,4.0,3.0
1,1,0.0,0.0,0.0,0.0,25.0,1.0,0.0,0.0,1.0,...,0.0,1.0,3.0,0.0,0.0,0.0,0.0,7.0,6.0,1.0
2,2,0.0,1.0,1.0,1.0,28.0,0.0,0.0,0.0,0.0,...,1.0,1.0,5.0,30.0,30.0,1.0,0.0,9.0,4.0,8.0
3,3,0.0,1.0,0.0,1.0,27.0,0.0,0.0,0.0,1.0,...,1.0,0.0,2.0,0.0,0.0,0.0,0.0,11.0,3.0,6.0
4,4,0.0,1.0,1.0,1.0,24.0,0.0,0.0,0.0,1.0,...,1.0,0.0,2.0,3.0,0.0,0.0,0.0,11.0,5.0,4.0

In [61]:
# comparar numero de linhas tabela no banco
sql_06 = '''select count(8) from diabetes_binary_health_indicators; '''
pd.read_sql_query(sql_06,engine)

   count(8)
0    253680

In [62]:
# comparar numero de linhas dataset
df_03.shape[0]

253680